.Container {
  margin: 0 8px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 4px;
  font-size: 1rem;
}

li {
  margin: 8px 0;
}
