<mat-toolbar class="Toolbar" color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="panelOpened = !panelOpened"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" style="text-decoration: none; color: white">{{name}}</a>
    <span style="flex: 1 1 auto;"></span>
    <mat-slide-toggle (click)="swapTheme()" color="accent">
      <mat-icon>brightness_high</mat-icon>
    </mat-slide-toggle>
  </mat-toolbar-row>
  <mat-toolbar-row
    class="Navbar"
    [class.Hidden]="!panelOpened"
    [class.Show]="panelOpened"
  >
    <div *ngFor="let route of featureRoutes$ | async">
      <button
        mat-button
        [routerLink]="route.route"
        [disabled]="false"
      >
        {{ route.name }}</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar
  class="ProgressBar"
  [class.Active]="loading$ | async"
  mode="query" color="accent"></mat-progress-bar>
