<div class="Container">
  <h1>Search</h1>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
    <mat-form-field
      color="primary"
      appearance="outline"
      fxFlex="grow">
      <mat-label>Search for...</mat-label>
      <label>
        <input matInput placeholder="what is it that you're looking for?">
      </label>
    </mat-form-field>

    <mat-form-field
      color="primary"
      appearance="outline"
      fxFlex="grow"
      fxFlex.gt-md="auto">
      <mat-label>Categories</mat-label>
      <mat-select>
        <mat-option value="1">Movies</mat-option>
        <mat-option value="2">TV</mat-option>
        <mat-option value="3">Games</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
