<div class="Container">
  <h1>Search</h1>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
    <mat-form-field
      color="primary"
      appearance="outline"
      fxFlex="grow">
      <mat-label>Search for...</mat-label>
      <label>
        <input
          (keyup)="handleChange()"
          [disabled]="!categories.length"
          [(ngModel)]="query" matInput placeholder="what is it that you're looking for?">
      </label>
    </mat-form-field>

    <mat-form-field
      color="primary"
      appearance="outline"
      fxFlex="grow"
      fxFlex.gt-md="auto">
      <mat-label>Category</mat-label>
      <mat-select
        [value]="selectedCategory"
        [disabled]="!categories.length"
        (selectionChange)="onCategoryChanged.emit($event.value)"
      >
        <mat-option
          *ngFor="let category of categories"
          value="{{category}}">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
