<mat-card>
  <mat-card-title>Torrent summary</mat-card-title>
  <mat-card-content fxLayout="row" fxLayoutGap="8px">
<!--    <div fxFlex="grow">-->
<!--      <mat-icon style="font-size: 8rem">folder</mat-icon>-->
<!--    </div>-->
    <div fxFlex="grow">
      <p>Name: {{ name }}</p>
      <p>Total size: {{ totalSize | dataVolume }}</p>
      <p>Downloaded: {{ downloaded | dataVolume }}</p>
      <p>Percent done: {{ percentDone | percent }}</p>
      <p>Added date: {{ addedDate *1000| date }}</p>
      <p>ETA: {{ eta }}</p>
      <p>D/L rate: {{ rateDownload | dataVolume}}/s</p>
      <p>U/L rate: {{ rateUpload | dataVolume}}/s</p>
      <p>Queue position: {{ queuePosition }}</p>
      <p>Error: {{ error }}</p>
      <p>Error: {{ errorString }}</p>
      <p>Seeds connected: {{ seeds }}</p>
      <p>Leeches connected: {{ leeches }}</p>
    </div>
  </mat-card-content>
</mat-card>
