@import "src/variables";
.Toolbar {
}

.Navbar {
  transition: all ease-in-out 0.25s;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  overflow: hidden;
}

.Hidden {
  max-height: 0;
}

.Show {
  max-height: 110px;
  margin-bottom: 16px;
}

.ProgressBar {
  transition: all 1s ease-in-out;
  opacity: 0;
}

.Active {
  opacity: 1;
}
