<div class="Container">
  <mat-card>
    <mat-card-content>
      <button mat-icon-button>
        <mat-icon>check_circle</mat-icon>
      </button>
      <span class="divider"> </span>
      <button mat-icon-button>
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>stop</mat-icon>
      </button>
      <span class="divider"> </span>
      <button mat-icon-button>
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <span class="divider"> </span>
      <button mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
      <span class="divider"> </span>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
