<h1 mat-dialog-title>Add a new torrent</h1>
<div mat-dialog-content>
  <p>Please provide the torrent details as needed. Select destination and kind of media you're downloading.</p>
  <form style="overflow: hidden" #form="ngForm" [formGroup]="addTorrentForm" autocomplete="off">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>magnet</mat-label>
      <label>
        <input matInput formControlName="magnet">
      </label>
      <button mat-icon-button matSuffix disabled><mat-icon>get_app</mat-icon></button>
      <mat-error *ngIf="form.control.controls['magnet'].errors.required">this field is required</mat-error>
      <mat-error
        *ngIf="!form.control.controls['magnet'].errors.required && form.control.controls['magnet'].errors.magnet">
        please provide a valid magnet
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" *ngIf="form.control.controls['title']">
      <mat-label>item title</mat-label>
      <label>
        <input matInput formControlName="title">
      </label>
      <mat-error>please provide a valid title</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" *ngIf="form.control.controls['size']">
      <mat-label>approximate size</mat-label>
      <label>
        <input matInput formControlName="size">
      </label>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>directory</mat-label>
      <mat-select formControlName="directory">
        <mat-option value="">choose download directory</mat-option>
        <mat-option *ngFor="let directory of directories" [value]="directory">
          {{directory}}
        </mat-option>
      </mat-select>
      <mat-error>please select one of available directories</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="">choose a category</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
      <mat-error>please select one of available categories</mat-error>
    </mat-form-field>
    <div class="full-width" style="display: flex;">
      <mat-slide-toggle style="margin-left: auto" color="primary" formControlName="start">
        Start immediately
      </mat-slide-toggle>
    </div>
  </form>
</div>
<div mat-dialog-actions style="justify-content: center">
  <button mat-flat-button color="primary" style="padding: 0 64px" [disabled]="form.invalid">OK</button>
</div>
