<div class="Homepage">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="30">
      <h1 style="margin:8px">Server</h1>
      <app-status-tile [showActions]="false"></app-status-tile>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="70">
      <h1 style="margin: 8px">Services</h1>
      <div>
        <app-status-tile></app-status-tile>
        <app-status-tile></app-status-tile>
        <app-status-tile></app-status-tile>
        <app-status-tile></app-status-tile>
        <app-status-tile></app-status-tile>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
