<div class="Homepage">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="30">
      <h1 class="Heading">Server</h1>
      <app-status-tile
        [title]="server?.name"
        [href]="createURL(server)"
        [icon]="'../../../assets/raspi-icon.png'"
        [showActions]="false">
      </app-status-tile>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="70">
      <h1 class="Heading">Services</h1>
      <div>
        <app-status-tile
          *ngFor="let service of services"
          [title]="service.name"
          [href]="createURL(service)"
          [icon]="service.icon"
        ></app-status-tile>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
