.Blinker {
  display: inline-block;
  margin: 0 8px;
  background-color: red;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  min-width: 10px;
  max-width: 10px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
