.IconBG {
  position: relative;
  &:after {
    font-family: 'Material Icons';
    content: '\e2c7';
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 50px;
    transform: rotateZ(-45deg);
  }
}
