@import "~@angular/material/theming";

$app-palette-primary: (
  50 : #f7e2e8,
  100 : #ebb8c6,
  200 : #de88a1,
  300 : #d0587b,
  400 : #c6355e,
  500 : #bc1142,
  600 : #b60f3c,
  700 : #ad0c33,
  800 : #a50a2b,
  900 : #97051d,
  A100 : #ffc3ca,
  A200 : #ff909d,
  A400 : #ff5d70,
  A700 : #ff4359,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$app-palette-secondary: (
  50 : #eef5e5,
  100 : #d6e5be,
  200 : #bad493,
  300 : #9ec368,
  400 : #8ab647,
  500 : #75a927,
  600 : #6da223,
  700 : #62981d,
  800 : #588f17,
  900 : #457e0e,
  A100 : #d3ffb0,
  A200 : #b7ff7d,
  A400 : #9bff4a,
  A700 : #8dff30,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$raspi-app-palette-primary: mat-palette($app-palette-primary, 500, A200, 900);
$raspi-app-palette-accent: mat-palette($app-palette-secondary);
$raspi-app-palette-warn: mat-palette($mat-red);
