@import "~@angular/material/theming";
@import "./palettes";

html, body {
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 250ms ease-in;
}


@include mat-core();

$app-theme-light: mat-light-theme($raspi-app-palette-primary, $raspi-app-palette-accent, $raspi-app-palette-warn);
@include angular-material-theme($app-theme-light);

.theme-dark {
  $app-theme-dark: mat-dark-theme($raspi-app-palette-primary, $raspi-app-palette-accent, $raspi-app-palette-warn);
  @include angular-material-theme($app-theme-dark);
}
